<div class="wrapper">
  <div class="container">
    <div class="form-search">
      <div class="form-title">
        <span>Búsqueda de Páginas</span>
      </div>
      <form class="form-content" [formGroup]="searchForm">
        <div fxLayout fxLayout.xs="column" fxLayoutGap="20px">
          <mat-form-field fxFlex>
            <input matInput placeholder="Número" formControlName=number>
          </mat-form-field>
          <mat-form-field fxFlex>
            <mat-select placeholder="Estado" formControlName="status">
              <mat-option *ngFor="let status of statusList" [value]="status.value">{{status.description}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div fxFlex></div>
        </div>
        <div fxLayout="row">
          <div fxFlex fxLayoutGap="10px" fxLayoutAlign="end">
            <button type="button" mat-raised-button color="accent" (click)="clean()">
              <mat-icon>refresh</mat-icon>
              Limpiar
            </button>
            <button type="button" mat-raised-button color="accent" (click)="search()">
              <mat-icon>search</mat-icon>
              Buscar
            </button>     
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="form-register">
      <div class="form-title">
        <span>Registrar Página</span>
      </div>
      <form class="form-content" [formGroup]="createForm">
        <app-file-upload [title]="'Imagen'" [placeholder]="'Seleccione un archivo'" [accept]="'image/png,image/x-png,image/jpeg'" [maxSize]="2048" [control]="createForm.controls.image"></app-file-upload>
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start">
            <button type="button" mat-raised-button color="accent" (click)="create()">
              <mat-icon>save</mat-icon>
              Guardar
            </button>
            <button type="button" mat-raised-button color="accent" (click)="cleanCreate()">
              <mat-icon>cancel</mat-icon>
              Cancelar
            </button>     
          </div>
      </form>
    </div>
  </div>
  <div class="container">
    <div class="table-loading" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="container-table">  
      <div class="table-content">
        <mat-table #table matSort [dataSource]="dataSource">
          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Nùmero</mat-header-cell>
            <mat-cell *matCellDef="let page"> {{page.number}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Image </mat-header-cell>
            <mat-cell *matCellDef="let page"> 
              <button mat-button (click)="showImage(page.image)" matTooltip="Ver Imagen">
                <mat-icon>remove_red_eye</mat-icon>
                Ver Imagen
              </button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Estado </mat-header-cell>
            <mat-cell *matCellDef="let page"> {{page.status | status:page.status}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
            <mat-cell *matCellDef="let page">
              <button mat-icon-button (click)="delete(page.pageId)" matTooltip="Eliminar">
                  <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>  
      </div>
      <mat-paginator [pageSize]="numberRows" [length]="totalElements">
      </mat-paginator>
    </div>
  </div>
</div>